
{% extends 'portalapp/base.html' %}
{% block base%}
<!-- <form  method="post" style="margin-left:20px;float:left;">

								<div class="btn-group">
								<input class="button" type="text" name="searchby" placeholder="ID" style="width:65px;margin-top:10px;" required>
								<button type="submit" name="searchid" class="btn btn-success" style="margin:0px;"><i class="fa fa-search"></i> By ID</button>
    {% csrf_token %}
								</div>
								</form> -->

                {{obj}}
{% endblock %}
